* {
    margin: 0 auto;
}

img {
    height: 100px;
    width: auto;
}

.centered {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.styled-table {
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: inline-block;
}

.together {
    position: center;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 10px 10px;
    text-align: left;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.button {
    margin: 10px;
    background-color: #009879;
    border-radius: 10px;
    border-color: #009879;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-family: sans-serif;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  