<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                title: {
                    text: "US Energy Consumption"
                },
                axisX: {
                    valueFormatString: "####"
                },
                axisY2: {
                    title: "Consumption in Billions of BTU"
                },
                toolTip: {
                    shared: true
                },
                legend: {
                    cursor: "pointer",
                    verticalAlign: "top",
                    horizontalAlign: "center",
                    dockInsidePlotArea: false,
                    itemclick: toogleDataSeries
                },
                data: [
                    insert_data
                ]
            });
            chart.render();

            function toogleDataSeries(e){
                if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                } else{
                    e.dataSeries.visible = true;
                }
                chart.render();
            }
        }
    </script>
</head>
<body>
    <!--Will be the navigation bar-->
    <div>
        <button><a target="_self" href="/state/MN">State</a></button>
        <button><a target="_self" href="/year/2018">Year</a></button>
    </div>
    <!-- create template here -->
    <div>
        <button><a target="_self" href=prevbutton>Previous Source</a></button>
        <h2>energy_source</h2>
        <img src=insert_src alt=insert_alt>
        <button><a target="_self" href=nextbutton>Next Source</a></button>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                <th>Year</th>
                    heading
                </tr>
            </thead>
            <tbody>
                replace
            </tbody>
        </table>
    </div>
    <div id="chartContainer" style="height: 100%; width: 100%;"></div>
</body>
</html>

