<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
    <style type="text/css">
        html,
        body,
        #graph_container {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            padding: 0;
        }
    </style>
    <script>
        anychart.onDocumentReady(function () {
            // create bar chart
            var chart = anychart.bar();

            chart.animation(true);

            chart.padding([10, 40, 5, 20]);

            chart.title('US Energy Consumption');

            // create bar series with passed data
            var series = chart.bar([
                insert_data
            ]);

            // set tooltip settings
            series
                .tooltip()
                .position('right')
                .anchor('left-center')
                .offsetX(5)
                .offsetY(0)
                .titleFormat('{%X}')
                .format('{%Value}');

            // set yAxis labels formatter
            chart.yAxis().labels().format('{%Value}{groupsSeparator: }');

            // set titles for axises
            chart.xAxis().title('State');
            chart.yAxis().title('Consumption in BTU');
            chart.interactivity().hoverMode('by-x');
            chart.tooltip().positionMode('point');

            // set scale minimum
            chart.yScale().minimum(0);

            // set container id for the chart
            chart.container('graph_container');
            
            // initiate chart drawing
            chart.draw();
        });
      
    </script>
</head>
<body>
    <!--Will be the navigation bar-->
    <div class="centered">
        <div class="centered">
            <button class="button"><a target="_self" href="/state/MN">State</a></button>
            <button class="button"><a target="_self" href="/energy/Coal">Energy</a></button>
        </div>
    </div>
    <!-- create template here -->
    <div class="centered">
        <h2>insert_year</h2>
        <button class="button"><a target="_self" href=prevbutton>Previous Year</a></button>
        <button class="button"><a target="_self" href=nextbutton>Next Year</a></button>
    </div>
    <div class="centered">
        <table class="styled-table">
            <thead>
                <tr>
                <th>State</th>
                <th>Coal</th>
                <th>Natural Gas</th>
                <th>Nuclear</th>
                <th>Petroleum</th>
                <th>Renewable</th>
                <th>Total</th>
                </tr>
            </thead>
            <tbody>
                replace
            </tbody>
        </table>
    </div>
    <div id="graph_container"></div>
</body>
</html>
