<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="css/style.css">
    <script type="application/javascript">
        var year;
        var coal_count;
        var natural_gas_count;
        var nuclear_count;
        var petroleum_count;
        var renewable_count;

        var prev = "prev";
        var next = "next";
    </script>
</head>
<body>
    <!--Will be the navigation bar-->
    <div>
        <button><a target="_self" href="/state/MN">State</a></button>
        <button><a target="_self" href="/energy/Coal">Energy</a></button>
    </div>
    <!-- create template here -->
    <div>
        <button><a target="_self" href=prevbutton>Previous Year</a></button>
        <h2>insert_year</h2>
        <button><a target="_self" href=nextbutton>Next Year</a></button>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                <th>State</th>
                <th>Coal</th>
                <th>Natural Gas</th>
                <th>Nuclear</th>
                <th>Petroleum</th>
                <th>Renewable</th>
                <th>Total</th>
                </tr>
            </thead>
            <tbody>
                replace
            </tbody>
        </table>
    </div>
</body>
</html>
